<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Inscription</title>
  </head>
  <body>
    <h1>Créer un compte</h1>

    <form method="post">
      {% csrf_token %} {{ form.as_p }}

      <button type="submit">S'inscrire</button>
    </form>

    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <p>Déjà inscrit ? <a href="{% url 'login' %}">Connexion</a></p>
  </body>
</html>
